.footer {
    background-color: #171717;
    &__wrapper {
        margin-top: 80px;
        padding-bottom: 39px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            margin-top: 50px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            margin-top: 49px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin-top: 50px;
        }
    }
    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
    &__bottom{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.footer-logo {
    flex: 0 0 18%;
    @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
        flex: 0 0 16%;
    }
    @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
        flex: 0 0 19%;
    }
    & img {
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            width: 107px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            width: 109px;
        }
    }
   
}
.footer-nav {
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        margin-top: 45px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 240px;
        margin-top: -21.5px;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            margin-top: -18.5px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            height: 210px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin: 0 -8px;
            
        }
    }
    &__item {
        position: relative;
        font-family: $AR;
        font-size: 13px;
        color: #A6A6A6;
        padding: 19.5px 37px;
        transition:.4s;
        margin-right: 27px;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            font-size: 11px;
            padding: 14.5px 28px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            padding: 15px 30px;
            margin-right: 25px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            font-size: 12px;
            padding: 14.5px 9px;
            margin-right: 8px;
        }
        &:nth-child(4):after {
            display: none;
        }
        &:last-child:after {
            display: none;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: auto;
            height: 1px;
            left: 36px;
            right: 36px;
            background-color: #262626;
            transition:.4s;
            @media screen and (max-width: $beforeTableWidth) {        // max 767
                left: 8px;
                right: 8px;
            }
        }
        &:hover {
            color: #000;
            background-color: #FAC400;
            &:after{
                background-color: #FAC400;
            }
        }
    }
}
.footer-contacts {
    margin-left: auto;
    margin-top: -7.5px;
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        margin-top: 15.5px;
        margin-top: -.5px;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        width: 100%;
    }
    &__body {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            flex-direction: column;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            width: 100%;
            
        }
    }
    &__btns{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            flex-direction: column;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            width: 100%;
            flex-direction: row;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #A6A6A6;
        box-sizing: border-box;
        height: 59px;
        padding: 0 40px;
        transition:.3s;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            padding: 0 36px;
            height: 49px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            width: 174px;
            height: 49px;
            padding: 0;
            &:nth-child(2){
                margin-top: -2px;
                
            }
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            padding: 0;
            width: 50%;
            height: 51px;
            &:nth-child(2){
                margin-top: 0px;
                
            }
        }
        & span {
            font-family: $AR;
            font-size: 14px;
            color: #A6A6A6;
            transition:.3s;
            @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
                font-size: 11px;
            }
        }
        &:hover {
            border-color:#fff;
            & span {
                color: #fff;
            }
        }
    }
    &__search {
        display: flex;
        align-items: center;
        margin-left: 31px;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            margin-left: 20px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            justify-content: flex-end;
            margin-top: 20px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            display: none;
        }
        & .search-svg {
            height: 25px;
            width: 23px;
            background: #A6A6A6;
            transition: .3s;
        }
        &:hover {
            & .search-svg {
                background: #fff;
            }
        }
    }
}
.footer-bottom {
    margin-top: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
        margin-top: 0;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        margin-top: 50px;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        flex-direction: column;
        align-items: flex-start;
    }
    &__lang {
        @media screen and (min-width: $tableWidth) {              // min 768
            display: none;
        }
        & a {
            & span {
                font-family: $AR;
                color: #FFFFFF;
                font-size: 11px;
            }
        }
    }
    &__title {
        
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin-top: 21px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            order: 2;
        }
        & span {
            font-family: $GR;
            font-size: 13px;
            color: #4D4D4D;
            @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
                font-size: 10px;
            }
        }
    }
    &__btn {
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin-top: 9px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            order: 1;
        }
        & a {
            font-family:$AR;
            font-size: 11px;
            text-decoration: underline;
            text-transform: uppercase;
            color: #A6A6A6;
            transition:.3s;
            
            @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
                font-size: 9px;
            }
            &:hover {
                color: #fff;
            }
        }
    }
}