.footer {
    background-color: #171717;
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        position: relative;
    }
    &__wrapper {
        margin-top: 80px;
        padding-bottom: 39px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            margin-top: 50px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            margin-top: 49px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin-top: 50px;
        }
    }
    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
    &__bottom{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.footer-logo {
    flex: 0 0 13%;
    @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
        flex: 0 0 11%;
    }
    @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
        flex: 0 0 19%;
    }
    & img {
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            width: 107px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            width: 109px;
        }
    }
   
}
.footer-nav {
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        margin-top: 45px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 290px;
        margin-top: -21.5px;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            margin-top: -18.5px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            height: 210px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin: 0 -8px;
        }
        a { 
            position: relative;
            font-family: $AR;
            font-size: 13px;
            color: #A6A6A6;
            padding: 19.5px 37px;
            max-width: 250px;
            transition:.4s;
            margin-right: 15px;
            @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
                font-size: 11px;
                padding: 14.5px 28px;
            }
            @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
                padding: 15px 30px;
                margin-right: 15px;
            }
            @media screen and (max-width: $beforeTableWidth) {        // max 767
                font-size: 12px;
                padding: 14.5px 9px;
                margin-right: 8px;
            }
            @media screen and (max-width: $smPhoneWidth) {        // max 325
                font-size: 10px;
                padding: 14.5px 3px;
                padding-left: 10px;
                margin-right: 0px;
            }
            &:nth-child(4):after {
                display: none;
            }
            &:last-child:after {
                display: none;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                width: auto;
                height: 1px;
                left: 36px;
                right: 36px;
                background-color: #262626;
                transition:.4s;
                @media screen and (max-width: $beforeTableWidth) {        // max 767
                    left: 8px;
                    right: 8px;
                }
            }
            &:hover {
                color: #000;
                background-color: #FAC400;
                &:after{
                    background-color: #FAC400;
                }
            }
        }
    }
}
.footer-svg {
    background-color: #727272;
    transition: .3s;
    &:hover {
        background-color:#fac400;
    }
}
.footer-contacts {
    // social media 
    display: flex;
    flex-direction: column;
    
    margin-left: auto;
    margin-top: -7.5px;

 
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        margin-top: 15.5px;
        margin-top: -.5px;
        width: 100%;
    }
    &__social-media {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1200
            margin-top: 55px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            margin-top: -25px;       
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin-top: 0;
            position: absolute;
            top: 47px;
            right: 70px;
        }
    }
    &__sm-title {
        display: inline-flex;
        span {
            font-family: $AR;
            font-size: 13px;
            line-height: 16px;
            color: #A6A6A6;
            @media screen and (max-width: $beforeDesktopWidth) {            // max 1200
                font-size: 11px;
            }
            @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
                
            }
            @media screen and (max-width: $beforeTableWidth) {        // max 767    
                font-size: 13px;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 17px;
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            margin-top: 10px;
        }
    }
    &__item {
        display: inline-flex;
        margin-right: 15px;
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            margin-right: 11px;
        }
        .vk-svg {
            height: 25px;
            width: 29px;
        }
        .insta-svg {
            height: 21px;
            width: 21px;
        }
        .fb-svg {
            height: 19px;
            width: 19px;
        }
    }
    &__body {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            flex-direction: column;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            width: 100%;
            
        }
    }
    &__btns{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            flex-direction: column;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            width: 100%;
            flex-direction: row;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #A6A6A6;
        box-sizing: border-box;
        height: 59px;
        padding: 0 40px;
        transition:.3s;
        &:nth-child(2){
            margin-left: -1px;
        }
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            padding: 0 36px;
            height: 49px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            width: 174px;
            height: 49px;
            padding: 0;
            &:nth-child(2){
                margin-top: -2px;
                margin-left: 0px;
            }
        }
        @media screen and (max-width: $beforeTableWidth) {    // 991
            &:nth-child(2){
                margin-left: -1px;
            }
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            padding: 0;
            width: 50%;
            height: 51px;
            &:nth-child(2){
                margin-top: 0px;
                
            }
        }
        & span {
            font-family: $AR;
            font-size: 14px;
            color: #A6A6A6;
            transition:.3s;
            @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
                font-size: 11px;
            }
            @media screen and (max-width: $smPhoneWidth) {        // max 325
                font-size: 9px;
            }
        }
        &:hover {
            border-color:#fff;
            & span {
                color: #fff;
            }
        }
    }
    &__search {
        display: flex;
        align-items: center;
        margin-left: 31px;
        @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
            margin-left: 20px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
            justify-content: flex-end;
            margin-top: 20px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            display: none;
        }
        & .search-svg {
            height: 25px;
            width: 23px;
            background: #A6A6A6;
            transition: .3s;
        }
        &:hover {
            & .search-svg {
                background: #fff;
            }
        }
    }
}
.footer-bottom {
    margin-top: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $beforeDesktopWidth) {            // max 1999
        margin-top: 0;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        margin-top: 50px;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        flex-direction: column;
        align-items: flex-start;
    }
    &__lang {
        position: relative;
        @media screen and (min-width: $tableWidth) {              // min 768
            display: none;
        }
        & a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 5;
        }
        & span {
            font-family: $AR;
            color: #FFFFFF;
            font-size: 11px;
        }
    }
    &__title {
        
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin-top: 21px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            order: 2;
        }
        & span {
            font-family: $GR;
            font-size: 13px;
            color: #4D4D4D;
            @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
                font-size: 10px;
            }
        }
    }
    &__btn {
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            margin-top: 9px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            order: 1;
        }
        & a {
            font-family:$AR;
            font-size: 11px;
            text-decoration: underline;
            text-transform: uppercase;
            color: #A6A6A6;
            transition:.3s;
            
            @media screen and (max-width: $beforeSmDesktopWidth) {    // 991
                font-size: 9px;
            }
            &:hover {
                color: #fff;
            }
        }
    }
}