.reviews-page {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    background-color: #F2F2F2;
    @media screen and (max-width: $beforeTableWidth) {        // max 767
        border-top: none;
        margin-top: 0;
    }
    &__heading {
        margin-top: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767
            margin-top: 0px;
            padding-top: 80px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            padding-top: 80px;
            margin-top: 0;
        }
    }
    &__wrapper {
        padding-top: 79px;
        padding-bottom: 132px;
        @media screen and (max-width: $beforeTableWidth) {        // max 767
            padding-top: 59px;
            padding-bottom: 60px;
        }
        .catalog__preloader {
            margin-top: 46px;
            @media screen and (max-width: $beforeTableWidth) {        // max 767
                margin-top: 10px;
            }
        }
    }
}