// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
  @font-face {
    font-family: "Activist Regular"; 
    src: url(../fonts/Activist.woff);
  }
 @font-face {
    font-family: "Gilroy Bold"; 
    src: url(../fonts/Gilroy-Bold.woff);
  }
  @font-face {
    font-family: "Gilroy Light";
    src: url(../fonts/Gilroy-Light.woff);
  }
  @font-face {
    font-family: "Gilroy Medium";
    src: url(../fonts/Gilroy-Medium.woff);
  }
  @font-face {
    font-family: "Gilroy Regular";
    src: url(../fonts/Gilroy-Regular.woff);
  }
  @font-face {
    font-family: "Gilroy SemiBold";
    src: url(../fonts/Gilroy-SemiBold.woff);
  }