// Font
$mainFont                : 'Activist Regular', 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #434343;
$mainFontSize            : 13px;
$mainLineHeight          : 21.44px;;

$desktopWidth            : 1200px;
$smDesktopWidth          : 992px;
$beforeSmDesktopWidth    : 991px;
$tableWidth              : 768px;
$beforeTableWidth        : 767px;
$phoneWidth              : 480px;
$beforePhoneWidth        : 479px;
$smPhoneWidth            : 325px;

$AR: 'Activist Regular', $mainFont;

$GL: 'Gilroy Light', $mainFont;
$GM: 'Gilroy Medium', $mainFont;
$GR: 'Gilroy Regular', $mainFont;
$GS: 'Gilroy SemiBold', $mainFont;

