// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1200px;
$smDesktopWidth          : 992px;
$beforeSmDesktopWidth    : 991px;
$tableWidth              : 768px;
$beforeTableWidth        : 767px;
$phoneWidth              : 480px;
$beforePhoneWidth        : 479px;
$smPhoneWidth            : 325px;

$BEB: 'BlissPro-ExtraBold', $mainFont;

$SFB: 'SFUI Display Bold', $mainFont;
$SFL: 'SFUI Display Light', $mainFont;
$SFM: 'SFUI Display Medium', $mainFont;
$SFR: 'SFUI Display Regular', $mainFont;
$SFS: 'SFUI Display SemiBold', $mainFont;

$GL: 'Gilroy Light', $mainFont;
$GM: 'Gilroy Medium', $mainFont;
$GR: 'Gilroy Regular', $mainFont;
$GS: 'Gilroy SemiBold', $mainFont;

