<% var data = {
    title: "Main Page | Project",
  }; %>
  
  
  <%= _.template(require('./../includes/head.html'))(data) %>
  <%= _.template(require('./../includes/promo.html'))(data) %>
  <%= _.template(require('./../includes/header.html'))(data) %>


  <section id="about-page" class="about-page">
      <div class="container">
          <div class="about-page__wrapper">
              <div class="about-page__heading">
                <h2 class="heading-first-type">
                    Rocket shina - работаем с 2010 года принося пользу нашим клиентам 
                </h2>
              </div>
              <div class="about-page__main-picture" style="background-image: url(../../img/general/about.png);"></div>
              <div class="about-page__sub-picture">
                <img src="../../img/general/about2.png" alt="">
              </div>
              <div class="about-page__subtitle">
                <p>
                    Мы всегда предлагаем Вам приехать к нам на склад в Москве
                     и самостоятельно выбрать шины. Если такой возможности нет,
                      вы находитесь в регионе - высылаем подробные фото отгружаемых
                       Мы всегда предлагаем Вам приехать к нам на склад в Москве и 
                       самостоятельно выбрать шины. Если такой возможности нет, вы находитесь
                        в регионе - высылаем подробные
                  </p>
              </div>
          </div>
      </div>
  </section>

  <section id="more-about" class="more-about">
      <div class="container">
          <div class="more-about__start">
            <div class="running-title">
                <span>Подробнее о компании</span>
            </div>
            <div class="ma-promo-title">
                <span>Мы всегда предлагаем Вам приехать к нам на склад в Москве</span>
            </div>
          </div>
          <div class="more-about__main">
              <div class="more-about__heading">
                  <div class="more-about__title">
                      <span>Мы всегда предлагаем Вам приехать к нам на склад в Москве</span>
                  </div>
                  <div class="more-about__subtitle">
                      <p>
                        Поработали с крупнейшими страховыми компаниями, банками, ритейл, автомобильными брендами
                      </p>
                  </div>
              </div>
              <div class="more-about__intro">
                <p>
                    Мы всегда предлагаем Вам приехать к нам на склад в Москве и самостоятельно выбрать шины.
                    Если такой возможности нет, вы находитесь в регионе - высылаем подробные фото отгружаемых
                    Мы всегда предлагаем Вам приехать к нам на склад в Москве и самостоятельно выбрать шины.
                    Если такой возможности нет, вы находитесь в регионе - высылаем подробные Мы всегда предлагаем
                    Вам приехать к нам на склад в Москве и самостоятельно выбрать шины. Если такой возможности нет,
                    вы находитесь в регионе - высылаем подробные фото отгружаемых Мы всегда предлагаем Вам приехать
                    к нам на склад в Москве и самостоятельно выбрать шины. Если такой возможности нет, вы находитесь
                    в регионе - высылаем подробные
                </p>
              </div>
          </div>
      </div>
  </section>
  <section id="history" class="history">
      <div class="container">
          <div class="history__wrapper">
            <div class="history__heading">
                <h2 class="heading-first-type">
                    История компании
                </h2>
            </div>
            <div class="history__body">
                <div class="history__item">
                    <div class="history__year">
                        <span>2010</span>
                    </div>
                    <div class="history__intro">
                        <p>Мы всегда предлагаем Вам приехать к нам на склад в Москве и самостоятельно выбрать шины. Если такой возможности нет</p>
                    </div>
                </div>
                <div class="history__item">
                    <div class="history__year">
                        <span>2010</span>
                    </div>
                    <div class="history__intro">
                        <p>Мы всегда предлагаем Вам приехать к нам на склад в Москве и самостоятельно выбрать шины. Если такой возможности нет</p>
                    </div>
                </div>
                <div class="history__item">
                    <div class="history__year">
                        <span>2010</span>
                    </div>
                    <div class="history__intro">
                        <p>Мы всегда предлагаем Вам приехать к нам на склад в Москве и самостоятельно выбрать шины. Если такой возможности нет</p>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>
  <section id="peoples" class="peoples">
      <div class="container">
          <div class="peoples__heading">
                <div class="heading-first-type">
                    Наши сотрудники
                </div>
          </div>
          <div class="peoples__wrapper">
                <div class="peoples__item">
                    <div class="peoples-human">
                        <div class="peoples-human__photo">
                            <img src="../../img/pples/grigory.png" alt="">
                        </div>
                        <div class="peoples-human__heading">
                            <span>Григорий Лукашевич</span>
                        </div>
                        <div class="peoples-human__description">
                            <p>Менеджер по продаже и таможенному оформлению шин</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__item">
                    <div class="peoples-human">
                        <div class="peoples-human__photo">
                            <img src="../../img/pples/grigory.png" alt="">
                        </div>
                        <div class="peoples-human__heading">
                            <span>Григорий Лукашевич</span>
                        </div>
                        <div class="peoples-human__description">
                            <p>Менеджер по продаже и таможенному оформлению шин</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__item">
                    <div class="peoples-human">
                        <div class="peoples-human__photo">
                            <img src="../../img/pples/grigory.png" alt="">
                        </div>
                        <div class="peoples-human__heading">
                            <span>Григорий Лукашевич</span>
                        </div>
                        <div class="peoples-human__description">
                            <p>Менеджер по продаже и таможенному оформлению шин</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__item">
                    <div class="peoples-human">
                        <div class="peoples-human__photo">
                            <img src="../../img/pples/grigory.png" alt="">
                        </div>
                        <div class="peoples-human__heading">
                            <span>Григорий Лукашевич</span>
                        </div>
                        <div class="peoples-human__description">
                            <p>Менеджер по продаже и таможенному оформлению шин</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__item">
                    <div class="peoples-human">
                        <div class="peoples-human__photo">
                            <img src="../../img/pples/grigory.png" alt="">
                        </div>
                        <div class="peoples-human__heading">
                            <span>Григорий Лукашевич</span>
                        </div>
                        <div class="peoples-human__description">
                            <p>Менеджер по продаже и таможенному оформлению шин</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__item">
                    <div class="peoples-human">
                        <div class="peoples-human__photo">
                            <img src="../../img/pples/grigory.png" alt="">
                        </div>
                        <div class="peoples-human__heading">
                            <span>Григорий Лукашевич</span>
                        </div>
                        <div class="peoples-human__description">
                            <p>Менеджер по продаже и таможенному оформлению шин</p>
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </section>
  <%= _.template(require('./../includes/footer.html'))(data) %>

  