<% var data = {
    title: "Article | Project",
  }; %>


<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/promo.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>

<section id="article" class="article">
    <div class="container">
        <div class="article__wrapper">
            <div class="article__side">
                <a class="article__back">
                    <div class="full-arrow-svg"></div>
                    <span>Вернуться</span>
                </a>
                <div class="article__share">
                    <div class="article__share-body">
                        <div class="vk-svg svg"></div>
                        <div class="fa-svg svg"></div>
                        <div class="twitter-svg svg"></div>
                    </div>
                </div>
            </div>
            <div class="article__body">
                <div class="article__heading">
                    <h1 class="article__title">
                        Как законодательство регулирует своевременную замену шин
                    </h1>
                </div>
                <div class="article__info">
                    <div class="article__tags">
                        <span>Растаможка</span>
                    </div>
                    <div class="article__data">
                        <span>10.07.2007</span>
                    </div>
                    <div class="article__share">
                        <div class="article__share-body">
                            <div class="vk-svg svg"></div>
                            <div class="fa-svg svg"></div>
                            <div class="twitter-svg svg"></div>
                        </div>
                    </div>
                </div>
                <div class="article-frame">
                    <img src="https://picsum.photos/1000/1000" alt="">
                    <p>
                        Сображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                         нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками
                          в отношении поставленных задач. Таким образом сложившаяся структура организации позволяет оценить
                           значение соответствующий условий активизации. Идейные соображения высшего порядка, а также рамки
                            и место обучения кадров в значительной степени обуславливает создание соответствующий условий 
                            активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
                             позволяет выполнять важные задания по разработке дальнейших направлений развития. Равным образом
                              укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития. 
                    </p>
                    <p>
                        С другой стороны укрепление и развитие структуры представляет собой интересный 
                        эксперимент проверки систем массового участия. Таким образом постоянный количественный
                        рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших
                        направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности влечет
                         за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                         Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет
                          выполнять важные задания по разработке модели развития. Идейные соображения высшего порядка, а также 
                          консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития
                    </p>
                </div>
                <div class="article__bottom">
                    <div class="article__prev">
                        <a href="">Предыдущая статья</a>
                    </div>
                    <div class="article__next">
                        <a href="">Следующая статья</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html'))(data) %>