<% var data = {
    title: "Clearence Page | Project",
  }; %>
  
  
<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/promo.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>



<section id="clearance" class="clearance">
    <div class="container">
        <div class="clearance__wrapper">
            <div class="clearance__heading">
                <h1 class="heading-first-type">
                    Растаможим новые и б/у шины из любой точки мира
                </h1>
            </div>
            <div class="clearance__subtitle">
                <span>Наша компания еще занимается растаможкой шин, помимо продажи, если вам интересен такой формат работы</span>
            </div>
        </div>
        <div class="clearance__pic" style="background-image: url(../../img/general/clearance.png);">

        </div>
    </div>
</section>
<div class="clearance-bens">
    <div class="container">
        <div class="clearance-bens__wrapper">
            <div class="row">
                <!-- uten -->
                <div class="clearance-bens__ben-wrapp">
                    <div class="clearance-ben">
                        <div class="clearance-ben__photo" style="background-image: url(../../img/general/clearance1.png);">
                        
                        </div>
                        <div class="clearance-ben__intro">
                            <div class="clearance-ben__title">
                                <span>Сотрудники</span>
                            </div>
                            <div class="clearance-ben__subtitle">
                                <p>
                                    С опытом работы на таможне и таможенным образованием
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- imte ENd -->
                <!-- uten -->
                <div class="clearance-bens__ben-wrapp">
                    <div class="clearance-ben">
                        <div class="clearance-ben__photo" style="background-image: url(../../img/general/clearance2.png);">
                        
                        </div>
                        <div class="clearance-ben__intro">
                            <div class="clearance-ben__title">
                                <span>Оформили более 500 тыс колес</span>
                            </div>
                            <div class="clearance-ben__subtitle">
                                <p>
                                    За все время оформленно более 500 тысяч колес
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- imte ENd -->
                <!-- uten -->
                <div class="clearance-bens__ben-wrapp">
                    <div class="clearance-ben">
                        <div class="clearance-ben__photo" style="background-image: url(../../img/general/clearance3.png);">
                        
                        </div>
                        <div class="clearance-ben__intro">
                            <div class="clearance-ben__title">
                                <span>Большой опыт</span>
                            </div>
                            <div class="clearance-ben__subtitle">
                                <p>
                                    Опыт в логистике 10 лет
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- imte ENd -->
            </div>
        </div>
    </div>
</div>
<section class="clearance-promo" style="background-image: url(../../img/general/clearancebg.png);">
    <div class="clearance-promo__shadow"></div>
    <div class="container">
        <div class="clearance-promo__wrapper">
            <div class="clearance-promo__title">
                <span>Бесплатно консультируем и сделаем рассчет стоимости</span>
            </div>
            <div class="clearance-promo__subtitle">
                <p>
                    Оставьте заявку, наш менеджер свяжется с вами в ближайшее время и обсудит с вами все интересющие вас вопросы
                </p>
            </div>
            <div class="clearance-promo__button">
                <a href="#">
                    <span>Заказать консультацию</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="clearance-how" class="clearance-how">
    <div class="container">
        <div class="clearance-how__heading">
            <span class="heading-first-type">
                Как проходит работа
            </span>
        </div>
        <div class="clearance-how__wrapper">
            <div class="row">
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance4.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Согласовываем ставку
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Уточняем характеристики партии и рассчитываем ставку
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance5.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Готовим документы
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Готовим товарно-транспортные сопроводительные документы и получаем необходимые разрешения
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance6.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Забираем груз
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Ставим транспорт под погрузку
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance8.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Проходим таможню
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Подаем таможенную декларацию и проходим все формы таможенного контроля. Получаем разрешение на ввоз
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/benefit3.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Оплата
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Получаем от вас полную оплату за наши услуги согласованным способом
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance7.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Доставляем товар на ваш склад
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Довозим груз до вашего склада в России
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="clearance-contacts" class="clearance-contacts">
    <div class="container">
        <div class="clearance-contacts__wrapper">
            <div class="clearance-contacts__contact">
                <div class="clearance-contacts__title">
                    <span>Контактная информация</span>
                </div>
                <div class="clearance-contacts__number">
                    <a href="#">
                        <span>8 (800) 431-32-56</span>
                    </a>
                </div>
            </div>
            <div class="clearance-contacts__button">
                <div class="clearance-contacts__title">
                    <span>Бесплатно сделам рассчет</span>
                </div>
                <div class="clearance-contacts__btn">
                    <a href="#" class="yellow-square-big">
                        <span>Оставить заявку</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<%= _.template(require('./../includes/footer.html'))(data) %>