<% var data = {
    title: "Main Page | Project",
  }; %>
  
  
<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/promo.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>

<section id="contacts" class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__title">
                <span>Контакты</span>
            </div>
            <div class="contacts__body">
                <div class="contacts__item">
                    <div class="contacts__pre-title">
                        <span>Связаться с нами</span> 
                    </div>
                    <div class="contacts__contact">
                        <a href="#">
                            <span>8</span>
                            <div class="asterick-svg"></div>
                            <span>800</span>
                            <div class="asterick-svg"></div>
                            <span>876</span>
                            <div class="asterick-svg"></div>
                            <span>32</span>
                            <div class="asterick-svg"></div>
                            <span>65</span>
                        </a>
                        
                    </div>
                    <div class="contacts__contact">
                        <a href="#">
                            <span>Info@rocketshina.ru</span>
                        </a>
                    </div>
                    <div class="contacts__social-media">
                        <span class="contacts__social-media-title">Мы в соц сетях:</span>
                        <a href="" target="_blank">
                            instagram
                        </a>
                        <a href="" target="_blank">
                            facebook
                        </a>
                        <a href="" target="_blank">
                            Вконтакте
                        </a>
                    </div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__pre-title">
                        <span>Адрес</span>
                    </div>
                    <div class="contacts__acontact">
                        <span>194100, Российская Федерация, г. Санкт-Петербург, Выборгская набережная, 55 корп.3 лит А</span>
                    </div>
                </div>
                <div class="contacts__bottom">
                    <span>ИНН 7802774114 </span>
                    <span>КПП 780201001</span>
                    <span>ОГРН 1117847617172</span>
                    <span>ОКПО 30722179</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="map" class="map">
    <div class="container">
        <div class="map__heading">
            <h2 class="heading-first-type">
                Мы на карте
            </h2>  
            <a href="#" class="gray-empty-btn">
                <span>Проложить маршрут</span>
            </a>
            
        </div>
    </div>
    <div id="map" class="map__wrapper">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af440ee4dc961a0252a1dd78d5b138fa580091cafa2d4d10db32c07fb03e68bfc&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</section>
<%= _.template(require('./../includes/promot-section.html'))(data) %>


<%= _.template(require('./../includes/footer.html'))(data) %>