<% var data = {
    title: "Deliver Page | Project",
  }; %>
  
  
<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/promo.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>

<section id="dealers" class="dealers">
    <div class="container">
        <div class="dealers__wrapper">
            <div class="dealers__heading">
                <h1 class="heading-first-type">
                    Дилерские условия для наших клиентов 
                </h1>
            </div>
            <div class="dealers__subtitle">
                <span>
                    Компания ROCKET SHINA предлагает торговым компаниям поставки грузовых 
                    внедорожных шин на дилерских условиях. Мы являемся первым поставщиками из 
                    США и Европы, а также таможенными брокерами с опытом более 10 лет, что позволяет 
                    сократить расходы на логистику и растаможку и предоставить выгодную цену на б/у шины Michelin нашим партнерам
                </span>
            </div>
        </div>
        <div class="dealers__pic" style="background-image: url(../../img/general/dealerbg.png);"></div>
    </div>
</section>
<section id="clearance-how" class="clearance-how">
    <div class="container">
        <div class="clearance-how__heading">
            <span class="heading-first-type">
                Преимущества работы с нами
            </span>
        </div>
        <div class="clearance-how__wrapper">
            <div class="row">
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance4.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Выгодная цена
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Предлагаем индивизуальный рассчет выгодной цены для уникально для каждого клиента
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance5.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Всегда в наличии
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Всегда имеем на складе большие обьемы определенных крупногобиритных и грузовых шин 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance10.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Всегда на связи
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Предоставляем качественные актуальные фотографии 
                                шин в наличии, чтобы вы могли их использовать для демонстрации 
                                товаров своим клиентам
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance8.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Личные встречи
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Если ваш клиент хочет лично выбрать шины, предоставляем возможность сделать это на нашем складе
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance7.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Поможем отгрузить 
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Можем отгрузить шины вашему клиенту напрямую с нашего склада с вашими документами
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance11.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Бесплатное бронирование
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Бесплатная бронь резины на 2 дня без предоплаты. Длительная бронь отобранных вами шин по предоплате 50%
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wholesale" class="wholesale">
    <div class="container">
        <div class="wholesale__wrapper">
            <div class="wholesale__heading">
                <h1 class="heading-first-type">
                    Оптовые поставки шин под заказ
                </h1>
                <div class="wholesale__picture" style="background-image: url(../../img/general/wholesalebg.png);"></div>
            </div>
            <div class="wholesale__body">
                <div class="wholesale__title">
                    <span>Этапы заказа крупной партии</span>
                </div>
                <ol class="wholesale__list">
                    <li class="wholesale__list-item">
                        <div class="wholesale__item-body">
                            <div class="wholesale__list-title">
                               <span>Запрос</span>
                            </div>
                            <div class="wholesale__list-subtitle">
                                <p>Вы отправляете нам свой запрос (размер, количество шин)</p>
                            </div>
                        </div>
                    </li>
                     <li class="wholesale__list-item">
                         <div class="wholesale__item-body">
                            <div class="wholesale__list-title">
                               <span>Проверка на складе</span>
                            </div>
                            <div class="wholesale__list-subtitle">
                                <p>Проверяем наличие шин на наших складах или на складах поставщиков</p>
                            </div>
                         </div>
                     </li>
                     <li class="wholesale__list-item">
                         <div class="wholesale__item-body">
                            <div class="wholesale__list-title">
                               <span>Сроки</span>
                            </div>
                            <div class="wholesale__list-subtitle">
                                <p>Называем сроки подготовки партии к отгрузке</p>
                            </div>
                         </div>
                     </li>
                     <li class="wholesale__list-item">
                         <div class="wholesale__item-body">
                            <div class="wholesale__list-title">
                               <span>Пописываем договор</span>
                            </div>
                            <div class="wholesale__list-subtitle">
                                <p>Подписываем договор поставки, в котором указываем все условия и сроки</p>
                            </div>
                         </div>
                     </li>
                     <li class="wholesale__list-item">
                         <div class="wholesale__item-body">
                            <div class="wholesale__list-title">
                               <span>Предоплата</span>
                            </div>
                            <div class="wholesale__list-subtitle">
                                <p>Вносите оговоренную предоплату</p>
                            </div>
                         </div>
                     </li>
                     <li class="wholesale__list-item">
                         <div class="wholesale__item-body">
                            <div class="wholesale__list-title">
                               <span>Доставка</span>
                            </div>
                            <div class="wholesale__list-subtitle">
                                <p>Отгружаем шины и доставляем в указанные сроки к вам</p>
                            </div>
                         </div>
                     </li>
                     <li class="wholesale__list-item">
                         <div class="wholesale__item-body">
                            <div class="wholesale__list-title">
                               <span>Оплата</span>
                            </div>
                            <div class="wholesale__list-subtitle">
                                <p>Оплачиваете оставшуюся часть и забираете товар</p>
                            </div>
                         </div>
                     </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="clearance-how " class="clearance-how wholesale-how">
    <div class="container">
        <div class="clearance-how__wrapper">
            <div class="row">
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance4.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                цена за ожидание
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                При покупке крупной партии шин от 50 шт. под заказ предоставляем выгодную цену за ожидание
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance14.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Вместимость - 96 шин
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Вместительность одного контейнера шин 16.00R20 Michelin - 96 шт
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance3.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Предоплата
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Предоплата 30-50% в зависимости от объема партии
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearance-how__wrapp">
                    <div class="clearance-how__cart">
                        <div class="clearance-how__head" style="background-image: url(../../img/general/clearance13.png);">
                        </div>
                        <div class="clearance-how__title">
                            <span>
                                Транзитное время 
                            </span>
                        </div>
                        <div class="clearance-how__subtitle">
                            <p>
                                Транзитное время при поставке из США 50 дней
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= _.template(require('./../includes/promot-section.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>