<% var data = {
  title: "Main Page | Project",
  author: "Harrix" 
}; %>


<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/promo.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>

<header id="main-header" class="main-header">
  <div class="container">
    <div class="main-slider">
      <!-- SLIDES -->
      <div id="slides" class="main-slider__slides">
        <!-- slide -->
        <div class="slide showing">
          <div class="main-slide slide-first">
            <div class="ms-intro">
              <div class="ms-intro__pre-title">
                <span>/ </span>
                <span>Оптом и в розницу</span>
              </div>
              <div class="ms-intro__heading">
                <h1 class="ms-intro__title">
                  Продажа грузовых и крупногабаритных шин
                </h1>
              </div>
              <div class="ms-intro__subtitle">
                <p>Отправляем любое количество позиций товара в любую точку мира с возможностью растаможки</p>
              </div>
            </div>
            <div class="ms-picture">
              <div class="ms-picture__item">
                <img src="../../img/slider/slider.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- slide END -->
        
        <!-- slide -->
        <div class="slide">
          <div class="main-slide slide-first">
            <div class="ms-intro">
              <div class="ms-intro__pre-title">
                <span>/ </span>
                <span>Консультация</span>
              </div>
              <div class="ms-intro__heading">
                <h1 class="ms-intro__title">
                  Бесплатно проконсультируем и ответим на все вопросы
                </h1>
              </div>
              <div class="ms-intro__subtitle">
                <p>Отправляем любое количество позиций товара в любую точку мира с возможностью растаможки</p>
              </div>
            </div>
            <div class="ms-picture">
              <div class="ms-picture__item ms-picture-second">
                <img src="../../img/slider/slider2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- slide END -->
        <!-- slide -->
        <div class="slide">
          <div class="main-slide slide-third">
            <div class="ms-intro">
              <div class="ms-intro__pre-title">
                <span>/ </span>
                <span>Акция</span>
              </div>
              <div class="ms-intro__heading">
                <h1 class="ms-intro__title">
                  Скидки 20% на грузовые шины
                </h1>
              </div>
              <div class="ms-intro__subtitle">
                <p>Отправляем любое количество позиций товара в любую точку мира с возможностью растаможки</p>
              </div>
            </div>
            <div class="ms-picture">
              <div class="ms-picture__item ms-picture-second">
                <img src="../../img/slider/slider2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- slide END -->
      </div>
      <!-- slides END -->
      <!-- Controlers -->
      <div id="main-slider__dots" class="main-slider__dots dots"></div>
      <div class="main-slider__arrows">
        <div id="previous" class="slider-left-svg"></div>
        <div id="next" class="slider-right-svg"></div>
      </div>
    </div>
  </div>
</header>

<section id="oversized-preview" class="oversized-preview">
  <div class="container">
    <div class="oversized-preview__heading">
      <h2 class="heading-first-type">
        Крупногабаритные шины
      </h2>
      <a href="#" class="yellow-square-big">
        <span>Все товары</span>
      </a>
    </div>
    <div class="oversized-preview__wrapper">
      <div class="row">

        <%= _.template(require('./../includes/product-card.html'))(data) %>
        <%= _.template(require('./../includes/product-card.html'))(data) %>
        <%= _.template(require('./../includes/product-card.html'))(data) %>
        <%= _.template(require('./../includes/product-card.html'))(data) %>
        
      </div>
    </div>
  </div>
</section>

<section id="truck-preview" class="truck-preview">
  <div class="container">
    <div class="truck-preview__heading">
      <h2 class="heading-first-type">
        Грузовые шины
      </h2>
      <a href="#" class="yellow-square-big">
        <span>Все товары</span>
      </a>
    </div>
    <div class="truck-preview__wrapper">
      <div class="row">
        <%= _.template(require('./../includes/product-card.html'))(data) %>
        <%= _.template(require('./../includes/product-card.html'))(data) %>
        <%= _.template(require('./../includes/product-card.html'))(data) %>
        <%= _.template(require('./../includes/product-card.html'))(data) %>
        
      </div>
    </div>
  </div>
</section>
  
  
<section id="benefits" class="benefits">
  <div class="container">
    <div class="benefits__heading">
      <h2 class="heading-first-type">
        Почему выгодно покупать у нас
      </h2>
    </div>
    <div class="benefits__wrapper">
      <div class="row">
        <!-- item -->
        <div class="col-xl-3">
          <div class="benefit">
            <div class="benefit__head">
              <img src="../../img/general/benefit1.png" alt="">
            </div>
            <div class="benefit__heading">
              <span>Вы знаете что покупает</span>
            </div>
            <div class="benefit__body">
              <p>
                Мы всегда предлагаем Вам приехать к нам на склад в Москве 
                и самостоятельно выбрать шины. Если такой возможности нет,
                вы находитесь в регионе - высылаем подробные фото отгружаемых шин
              </p>
            </div>
          </div>
        </div>
        <!-- item END -->
        <!-- item -->
        <div class="col-xl-3">
          <div class="benefit">
            <div class="benefit__head">
              <img src="../../img/general/benefit2.png" alt="">
            </div>
            <div class="benefit__heading">
              <span>Доставка в любой город мира</span>
            </div>
            <div class="benefit__body">
              <p>
                Мы всегда предлагаем Вам приехать к нам на склад в Москве 
                и самостоятельно выбрать шины. Если такой возможности нет,
                вы находитесь в регионе - высылаем подробные фото отгружаемых шин
              </p>
            </div>
          </div>
        </div>
        <!-- item END -->
        <!-- item -->
        <div class="col-xl-3">
          <div class="benefit">
            <div class="benefit__head">
              <img src="../../img/general/benefit3.png" alt="">
            </div>
            <div class="benefit__heading">
              <span>Лучшие цены на рынке</span>
            </div>
            <div class="benefit__body">
              <p>
                Мы всегда предлагаем Вам приехать к нам на склад в Москве 
                и самостоятельно выбрать шины. Если такой возможности нет,
                вы находитесь в регионе - высылаем подробные фото отгружаемых шин
              </p>
            </div>
          </div>
        </div>
        <!-- item END -->
        <!-- item -->
        <div class="col-xl-3">
          <div class="benefit">
            <div class="benefit__head">
              <img src="../../img/general/benefit4.png" alt="">
            </div>
            <div class="benefit__heading">
              <span>Гибкие условия оплаты</span>
            </div>
            <div class="benefit__body">
              <p>
                Мы всегда предлагаем Вам приехать к нам на склад в Москве 
                и самостоятельно выбрать шины. Если такой возможности нет,
                вы находитесь в регионе - высылаем подробные фото отгружаемых шин
              </p>
            </div>
          </div>
        </div>
        <!-- item END -->
      </div>
    </div>
  </div>
</section>

<section id="reviews" class="reviews">
  <div class="container">
    <div class="reviews__heading">
      <h2 class="heading-first-type">
        Отзывы
      </h2>  
      <div class="reviews__buttons">
        <a href="" class="make-review-text-btn">
          <span>Оставить отзыв</span>
        </a>
        <a href="#" class="gray-empty-btn">
          <span>Больше отзывов</span>
        </a>
      </div>
    </div>
    
    <div class="reviews__wrapper">
      <div class="row">
        <div class="col-xl-3">
          <div class="review-cart">
            <div class="review-cart__heading">
              <span>Порадовала работа менеджеров и желание помочь в выборе шин конкретно для наших целей</span>
            </div>
            <div class="review-cart__body">
              <p>
                Мы всегда предлагаем Вам приехать к нам на склад 
                в Москве и самостоятельно выбрать шины. Если такой 
                возможности нет, вы находитесь в регионе - высылаем
                подробные фото отгружаемых шин редлагаем
                </p>
            </div>
            <div class="review-cart__btn">
              <a href="#">Читать отзыв полностью</a>
            </div>
            <div class="review-cart__gallety">
              gallery fuck
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html'))(data) %>