<% var data = {
    title: "Deliver Page | Project",
  }; %>
  
  
<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/promo.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>

<%= _.template(require('./../includes/breadcrumbs.html'))(data) %>
<section id="p-product" class="p-product">
    <div class="container">
        <div class="p-product__preview">
            <div class="p-product__heading-mobile">
                <h1 class="p-product__title">
                    Грузовая шина TYREX ALL STEEL TR-1 R22.5 385/65 160K TL
                </h1>
            </div>
            <div class="p-product__slider">
                <div id="slides" class="p-product-slider">
                    <div class="slide showing">
                        <div class="p-product-slider__picture" style="background-image: url(../../img/products/product.png);"></div>
                    </div>
                    <div class="slide">
                        <div class="p-product-slider__picture" style="background-image: url(../../img/products/product.png);"></div>
                    </div>
                    <div class="slide">
                        <div class="p-product-slider__picture" style="background-image: url(../../img/products/product.png);"></div>
                    </div>
                </div>
                <div id="main-slider__dots" class="dots"></div>
                <div class="p-product-slider__arrows">
                    <div id="previous" class="slider-left-svg"></div>
                    <div id="next" class="slider-right-svg"></div>
                </div>
                
            </div>
            <div class="p-product__intro">
                <div class="p-product__heading">
                    <h1 class="p-product__title">
                        Грузовая шина TYREX ALL STEEL TR-1 R22.5 385/65 160K TL
                    </h1>
                </div>
                <div class="p-product__specs">
                    <div class="p-product__spec">
                        <span>В наличии</span>
                    </div>
                    <div class="p-product__spec">
                        <span>Состояние: Новое</span>
                    </div>
                    <div class="p-product__spec">
                        <span>Производитель: TYREX</span>
                    </div>
                    <div class="p-product__spec">
                        <span>Размер: 22.5</span>
                    </div>
                </div>
                <div class="p-product__footer">
                    <div class="p-product-price">
                      <div class="p-product-price__bg"></div>
                      <div class="p-product-price__body">
                        <div class="p-product-price__discount">
                          <span>25 000</span>
                          <div class="rub-svg"></div>
                        </div>
                        <div class="p-product-price__main">
                          <span>18 000</span>
                          <div class="rub-svg"></div>
                        </div>
                      </div>
                    </div>
                    <div class="buy-button">
                      <span>Купить</span>
                    </div>
                </div>
                <div class="p-product__bottom">
                    <a href="#">
                        <span>Узнать оптовую цену</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product-tabs" class="product-tabs">
    <div class="container">
        <div class="product-tabs__wrapper">
            <div class="product-tabs__bar">
                <div data-id="tab1" class="tab selected">Описание</div>
                <div data-id="tab2" class="tab">Условия оплаты</div>
                <div data-id="tab3" class="tab">Доставка</div>
            </div>
            <div class="product-tabs__content">
                <div id="tab1" class="tab-panel tab-panel-describe">
                    <div class="tab-panel-describe__specs">
                        <div class="tab-panel-describe__specs-wrapp">
                            <div class="tab-panel-describe__spec">
                                <span>Производитель</span>
                                <span>Typex</span>
                            </div>
                        </div>
                        <div class="tab-panel-describe__specs-wrapp">
                            <div class="tab-panel-describe__spec">
                                <span>Ширина</span>
                                <span>385</span>
                            </div>
                        </div>
                        <div class="tab-panel-describe__specs-wrapp">
                            <div class="tab-panel-describe__spec">
                                <span>Профиль</span>
                                <span>65%</span>
                            </div>
                        </div>
                        <div class="tab-panel-describe__specs-wrapp">
                            <div class="tab-panel-describe__spec">
                                <span>Диаметр</span>
                                <span>22.5</span>
                            </div>
                        </div>
                        <div class="tab-panel-describe__specs-wrapp">
                            <div class="tab-panel-describe__spec">
                                <span>Индекс скорости</span>
                                <span>2K (до 110 км/ч)</span>
                            </div>
                        </div>
                        <div class="tab-panel-describe__specs-wrapp">
                            <div class="tab-panel-describe__spec">
                                <span>Индекс нагрузки</span>
                                <span>160</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-panel-describe__intro">
                        <p>
                            TYREX ALL STEEL TR-1 – бескамерная грузовая шина,
                            которая предназначена для установки на прицеп. Низкая стоимость, 
                            возможность восстановления протектора и высокие рабочие качества 
                            делают покрышку привлекательной для коммерческого использования. 
                            Основные характеристики модели: рисунок протектора имеет своеобразный 
                            дизайн – три центральных ребра состоят из множества блоков неправильной формы. 
                            Это позволило улучшить тормозные характеристики; водоотводящие каналы снабжены 
                            особыми шипами, которые не позволяют камням и мусору застревать в шине. Благодаря 
                            этой конструктивной особенности срок эксплуатации покрышки значительно увеличился; 
                            прочный каркас позволяет успешно передвигаться по любым поверхностям, не опасаясь 
                            возможности пробуксовывания в грунте; особый состав резиновой смеси делает резину 
                            износостойкой; шину можно отреставрировать и использовать по назначению в течение 
                            длительного времени. Шина производится в России, вследствие чего цена на нее ниже, 
                            чем на многие зарубежные аналоги. Это делает TYREX ALL STEEL TR-1 более выгодной в 
                            экономическом плане.
                        </p>
                    </div>
                </div>
                <div id="tab2" class="tab-panel tab-panel-payment hidden">
                    <div class="tab-panel-payment__wrapper">
                        <!-- item -->
                        <div class="tab-panel-payment__item">
                            <div class="tab-panel-payment__item-wrapper">
                                <div class="tab-panel-payment__item-preview" style="background-image: url(../../img/general/clearance5.png);"></div>
                                <div class="tab-panel-payment__item-intro">
                                    <div class="tab-panel-payment__item-title">
                                        <span>Безналичный расчет</span>
                                    </div>
                                    <div class="tab-panel-payment__item-subtitle">
                                        <p>
                                            Возможна оплата с НДС и без НДС. Заключаем договор, выставляем счет. Предоставляем полный пакет документов.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- item END -->
                        <!-- item -->
                        <div class="tab-panel-payment__item">
                            <div class="tab-panel-payment__item-wrapper">
                                <div class="tab-panel-payment__item-preview" style="background-image: url(../../img/general/clearance9.png);"></div>
                                <div class="tab-panel-payment__item-intro">
                                    <div class="tab-panel-payment__item-title">
                                        <span>Наличными</span>
                                    </div>
                                    <div class="tab-panel-payment__item-subtitle">
                                        <p>
                                            Оплата наличными возможна при самовывозе
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- item END -->
                        <!-- item -->
                        <div class="tab-panel-payment__item">
                            <div class="tab-panel-payment__item-wrapper">
                                <div class="tab-panel-payment__item-preview" style="background-image: url(../../img/general/clearance4.png);"></div>
                                <div class="tab-panel-payment__item-intro">
                                    <div class="tab-panel-payment__item-title">
                                        <span>Перевод на карту</span>
                                    </div>
                                    <div class="tab-panel-payment__item-subtitle">
                                        <p>
                                            Вы можете перевести средства на нашу корпоративную карту, предоставляем чек.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- item END -->
                        
                    </div>
                </div>
                <div id="tab3" class="tab-panel tab-panel-delivery hidden">
                    <div class="tab-panel-delivery__wrapper">
                        <!-- item -->
                        <div class="tab-panel-delivery__item">
                            <div class="tab-panel-delivery__item-preview" style="background-image: url(../../img/general/clearance6.png);"></div>
                            <div class="tab-panel-delivery__item-intro">
                                <div class="tab-panel-delivery__item-title">
                                    <span>Транспортная компания</span>
                                </div>
                                <div class="tab-panel-delivery__item-subtitle">
                                    <p>
                                        Получаем от Вас заявку, ️ собираем и согласовываем партию,
                                        В течении суток отправляем на Ваш склад транспортной компанией.
                                        Стоимость доставки рассчитывается индивидуально, оплачиваете самостоятельно. 
                                        При отгрузке крупной партии возможна бесплатная доставка. Согласовывается индивидуально
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- item END -->
                        <!-- item -->
                        <div class="tab-panel-delivery__item">
                            <div class="tab-panel-delivery__item-preview" style="background-image: url(../../img/general/benefit1.png);"></div>
                            <div class="tab-panel-delivery__item-intro">
                                <div class="tab-panel-delivery__item-title">
                                    <span>Самовывоз</span>
                                </div>
                                <div class="tab-panel-delivery__item-subtitle">
                                    <p>
                                        Вы всегда можете приехать к нам на склад и самостоятельно 
                                        осмотреть и выбрать понравившиеся шины. Перед планируемым 
                                        приездом предварительно согласуйте с нашими менеджерами время, 
                                        они сделают пропуск для Вашего транспорта. На складе есть погрузчик, 
                                        что позволит быстро и легко осуществить отгрузку на ваш транспорт. Наш 
                                        склад находится по адресу Московская область, с. Ганусово, тер. Промзона, 
                                        стр.50. Вес, объем, габариты шин Michelin XZL 16.00R20: Вес - 154 кг, объем - 
                                        0,74 м3, высота - 130 см, ширина - 40 см.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- item END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="realated-products" class="oversized-preview">
    <div class="container">
      <div class="oversized-preview__heading">
        <h2 class="heading-first-type">
          Похожие товары
        </h2>
      </div>
      <div class="oversized-preview__wrapper">
        <div class="row mp-product-row">
  
          <%= _.template(require('./../includes/product-card.html'))(data) %>
          <%= _.template(require('./../includes/product-card.html'))(data) %>
          <%= _.template(require('./../includes/product-card.html'))(data) %>
          <%= _.template(require('./../includes/product-card.html'))(data) %>
          
        </div>
        <div class="oversized-preview__mobile-btn">
          <a href="#" class="more-products-mobile-btn">
            <span>Все товары</span>
          </a>
        </div>
      </div>
    </div>
  </section>

<%= _.template(require('./../includes/promot-section.html'))(data) %>  

<%= _.template(require('./../includes/footer.html'))(data) %>