@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}
body {
  // background: url(/img/workspace/callback.png);
  // *** Main page
  // background: url(/img/workspace/main-page1440.png);
  // background: url(/img/workspace/main-page991.png);
  // background: url(/img/workspace/main-page720.png);
  // background: url(/img/workspace/main-page320.png);
  
  // *** Catalog
  // background: url(/img/workspace/catalog1440.png);
  // background: url(/img/workspace/catalog991.png);
  // background: url(/img/workspace/catalog720.png);
  // background: url(/img/workspace/menu-collapse14440.png);
  // background: url(/img/workspace/menu-collapse320.png);

  // *** blog
  // background: url(/img/workspace/blog1440.png);

  // *** Article
  // background: url(/img/workspace/article1440.png);
  // background: url(/img/workspace/article991.png);
  // background: url(/img/workspace/article720.png);
  // background: url(/img/workspace/article320.png);
  
  // *** About 
  // background: url(/img/workspace/about1440.png);
  // background: url(/img/workspace/about991.png);
  // background: url(/img/workspace/about720.png);
  // background: url(/img/workspace/about320.png);

  // *** Search
  // background: url(/img/workspace/search1440.png);
  // background: url(/img/workspace/search-result1440.png);
  // background: url(/img/workspace/search-result991.png);
  // background: url(/img/workspace/search-result720.png);
  // background: url(/img/workspace/search-result320.png);

  // *** Contacts
  // background: url(/img/workspace/con1440.png);
  // background: url(/img/workspace/con991.png);
  // background: url(/img/workspace/con720.png);
  // background: url(/img/workspace/con320.png);

  // *** Clearance
  // background: url(/img/workspace/clearance1440.png);
  // background: url(/img/workspace/clearance991.png);
  // background: url(/img/workspace/clearance720.png);
  // background: url(/img/workspace/clearance320.png);

  // *** Delivery
  // background: url(/img/workspace/delivery1440.png);
  // background: url(/img/workspace/delivery991.png);
  // background: url(/img/workspace/delivery720.png);
  // background: url(/img/workspace/delivery320.png);

  // *** WholeSale
  // background: url(/img/workspace/wholesale1440.png);
  // background: url(/img/workspace/wholesale991.png);
  // background: url(/img/workspace/wholesale720.png);
  // background: url(/img/workspace/wholesale320.png);

  // *** PP
  // background: url(/img/workspace/pp1440.png);
  // background: url(/img/workspace/pp991.png);
  // background: url(/img/workspace/pp720.png);
  // background: url(/img/workspace/pp320.png);

   // *** PP2
  // background: url(/img/workspace/2pp1440.png);
  // background: url(/img/workspace/2pp991.png);
  // background: url(/img/workspace/2pp720.png);
  // background: url(/img/workspace/2pp320.png);

   // *** PP3
  // background: url(/img/workspace/3pp1440.png);
  // background: url(/img/workspace/3pp991.png);
  // background: url(/img/workspace/3pp720.png);
  // background: url(/img/workspace/3pp320.png);


  background-position-y: -5px;
  background-size: cover;
  //dev

  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent!important;
  &.overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
}
section {
  position: relative;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper {
  flex: 1;
  min-height: 89vh;
}
// grid update
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $bigPhoneWidth){
      max-width: 540px;
    }  
    @media (min-width: $smDesktopWidth) and (max-width: $beforeDesktopWidth) {        
      max-width: 980px;
    }
    @media (min-width: $tableWidth) and (max-width: $beforeSmDesktopWidth) {        
      max-width: 750px;
    }
    
    @media (min-width: $desktopWidth) {
      max-width: 1269px;
    }
   
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
// Modules

@import "modules/main-page.scss";
@import "modules/product-page.scss";
@import "modules/catalog.scss";
@import "modules/navbar.scss";
@import "modules/promo.scss";
@import "modules/footer.scss";
@import "modules/general-items.scss";
@import "modules/blog.scss";
@import "modules/article-page.scss";
@import "modules/reviews.scss";
@import "modules/about.scss";
@import "modules/search.scss";
@import "modules/contacts.scss";
@import "modules/clearance.scss";
@import "modules/dealer.scss";
@import "modules/delivery.scss";
@import "modules/404.scss";
@import "modules/modals.scss"
